/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    margin: 0 auto;
    max-width: 65%;
    font-family: 'Space Grotesk', sans-serif;
    color: #383232;
    line-height: 1.6;
    padding-top: 3%;
    text-align: justify;
    font-size: 18px;
}

h1 {
    margin-bottom: 0%;
    background-color: #695b5b;
    color: white;
    font-size: 50px;
}

h2 {
    margin-top: 15%;
    margin-bottom: 10%;
    background-color:#695b5b;
    color: white;
    font-size: 33px;
}

h3 {
    margin-top: 10%;
    margin-bottom: 5%;
    font-size: 30px;
    background-color: #695b5b;
    color: white;
}


div.seznam {
    text-align: center;
    margin-bottom: 3em;
    font-size: 20px;
}


ul.polozky {
    display: inline-block;
    text-align: left;
} 

footer {
    margin-top: 20%;
}

img.portret {
    max-width: 25%;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 7% auto 10% auto;
    box-shadow: 0 3px 10px rgba(4, 4, 4, 0.15);
} 

h1,
h2,
h3 {
    text-align: center;
}



img.pristav,
img.vodopad,
img.kone,
img.domy,
img.jerab,
img.pustina,
img.zahrada,
img.kodan,
img.tivoli {
    max-width: 30%;
    height: auto;
    border-radius: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 3em;
    box-shadow: 0 3px 10px rgba(4, 4, 4, 0.15);
}

img.vodopad,
img.pustina,
img.kodan {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

 .paticka {
    text-align: center;
    background-color: #383232;
    color: white;
}


.menicko li {
    display: inline-block;
}

.menicko a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

.menicko {
    padding: 0;
    background-color: #695b5b;
    text-align: center;
}

.menicko a:hover {
    background-color: #b2a2a2;
}
